.card {
    width: 400px;
    background-color: #f0f0f0;
    border-radius: 10px;
    text-align: center;
    margin: 30px;
  }
  .card:hover{
    transition: transform 0.2s linear;
    transform: scale(1.1);
  }

  .card h2 {
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
  
  .card p {
    margin-bottom: 20px;
    font-size: 16px;
    text-align: left;
  }
  
  .card button {
    background-color: #ffcc00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 150px;
    height: 40px;
  }
  
  .card button:hover {
    background-color: #ffbb00;
  }
  .card img{
    width: 100%;
    aspect-ratio: 1/1;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 400px;
    
  }

.card h2, .card p , .card button , .card span{
    margin-left: 20px;
    margin-bottom: 10px;
}
.tag{
  border: 0px solid;
  background-color: rgb(226, 226, 226);
  padding: 10px;
  border-radius: 5px;
}

.dFlex{
    display: flex;
}
.flexColumn{
    flex-direction: column;
}

.htmlColor{
  color: pink;
}
.cssColor{
  color: red;
}
.jsColor{
  color: green;
}
.phpColor{
color: #ffbb00;
}